body {
    font-family: 'Helvetica Neue', Helvetica, Arial, san-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    /*-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;*/
}

#outer {
    width: 600px;
    margin: 0 auto;    
}

.title {
	padding: 0 5px;
}

.add_item {
	padding: 5px;
}
.add_item table {
	display: block;
    font-size: 1.3em;
    padding: 0 0 0 0;
    color: #777;
}
.add_item td {
	padding: 3px 15px 3px 0;	
}
.add_item input[type="text"], .add_item textarea {
	width: 250px;
	padding: 5px 5px;
	font-size: 16px;
	color: #333;
	border-radius: 3px;
	border: 1px solid #444;
}
.add_item input[type="button"] {
	background: #001D41;
	color: #fff;
	font-size: 16px;
	padding: 5px 8px;
	border: 1px solid #222;
	border-radius: 3px;
}


.item {
    padding: 5px;
}
.item .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}
.item .description {
    display: block;
    width: 350px;
    font-size: 1.3em;
    padding: 0 0 0 3px;
    color: #777;
}
.item .link, .item .link a {
    display: inline-block;
    width: 100px;
    font-size: 1em;
    line-height: 1.75em;
    text-align: right;
    font-weight: bold;
    color: #777;
}
.item .link a {
	text-decoration: none;
	color: #66f;
}
.item.selected {
    background-color: yellow;
}
.item.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}
